/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Raleway:wght@200&family=Varela+Round&display=swap');

body {
  margin: 2rem;

}
ul {
  list-style: none;
  display: flex;
  padding: 0;
}

li {
  padding: 0rem 2rem 0rem 0rem;
}

a {
  color: #000000;
  text-decoration: none;
}

p {
  margin: 2rem;
}

form {
  margin: 2rem;
}

html {
  background-color:rgb(169, 242, 237);
  font-family: 'Comfortaa';
}

.text {
  font-family: 'Comfortaa';
}

.btn {
  font-family: 'Comfortaa';
  display: flex;
  margin-top: 1.5rem;
}



@media (max-width: 500px) {
  ul {
    list-style: none;
    display: none;
    justify-content: flex-end;
    padding: 0;
  }
  p {
    margin: 5rem 2rem 2rem 2rem;
  }

  body {
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

}
