<div class="all-content">
  <h1 class="title">A ToDo list</h1>
  <div class="todo-entre">
    <h2>Type in your todo and add! </h2>
    <form>
      <input type="text" class="text" name="item" placeholder="to do list" [(ngModel)]="ToDoTxt">
      <!-- <br><span>{{ToDoTxt}}</span> -->
      <input type="submit"  class="btn" [value]="btnTxt" (click)="addItem()"  >
    </form>
  </div>
  <div class="todo-list">
    <h1 *ngIf="todoCount !== 0">List ({{todoCount}})</h1>
    <h1 *ngIf="todoCount === 0">List</h1>
    <p *ngFor=" let todo of todos" class="list-items" >{{todo}} </p>
  </div>
</div>
