<div class="all-content">
  <h1 class="title">A ToDo list</h1>
  <div class="todo-entre">
    <h2>Type in your todo and add! </h2>
    <form>
      <input type="text" class="text" name="item" placeholder="to do list" [(ngModel)]="ToDoTxt">
      <!-- <br><span>{{ToDoTxt}}</span> -->
      <input type="submit"  class="btn" [value]="btnTxt" (click)="addItem()"  >
    </form>
  </div>
  <div class="todo-list">
    <h1 *ngIf="todoCount !== 0">List ({{todoCount}})</h1>
    <h1 *ngIf="todoCount === 0">List</h1>
    <p (click)="itemStatus(i)" [style.background-color]="clicked[i]" *ngFor=" let todo of todos; let i = index" class="list-items"   >{{todo}} <button (click)=" editItem(i)" class="delete-btn"> ||| </button> <input *ngIf="edit === true" type="text" class="text" name="item" placeholder="edit to do list" [(ngModel)]="EditToDoTxt"> <button *ngIf="edit === true" class="delete-btn" (click)=" saveEdit(i)"> ✓ </button> <button (click)="deleteItem(i)" class="delete-btn"> x </button>    </p>
  </div>
</div>
